<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/angular@1.5.9/angular.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    .fa {
      font-size: 24px;
    }

    [ng-cloak] {
      display: none;
    }
  </style>
</head>
<body ng-app="test" class="container" style="padding-top: 50px">

<div class="col-sm-8">
  <div class="panel panel-default" ng-cloak>
    <div class="panel-body" ng-if="step==0">
      <legend>Krok 1: Podstawowe dane</legend>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="firstName" class="col-sm-5 control-label">Imię</label>
          <div class="col-sm-7">
            <input type="text"
                   class="form-control"
                   id="firstName"
                   placeholder="Imię"
                   ng-model="advertisement.firstName"
                   autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="age" class="col-sm-5 control-label">Wiek</label>
          <div class="col-sm-7">
            <input type="text"
                   class="form-control"
                   id="age"
                   placeholder="Wiek"
                   ng-model="advertisement.age">
          </div>
        </div>
        <div class="form-group">
          <label for="height" class="col-sm-5 control-label">Wzrost (cm)</label>
          <div class="col-sm-7">
            <input type="text"
                   class="form-control"
                   id="height"
                   placeholder="Wzrost (cm)"
                   ng-model="advertisement.height">
          </div>
        </div>
      </form>
    </div>
    <div class="panel-body" ng-if="step==1">
      <legend>Krok 2: Preferencje</legend>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="lookingFor" class="col-sm-5 control-label">Szukam</label>
          <div class="col-sm-7">
            <select class="form-control" ng-model="advertisement.lookingFor" id="lookingFor">
              <option value="man">partnera</option>
              <option value="woman">partnerki</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="style" class="col-sm-5 control-label">Styl tańca</label>
          <div class="col-sm-7">
            <input type="text"
                   class="form-control"
                   id="style"
                   placeholder="Styl tańca"
                   ng-model="advertisement.style">
          </div>
        </div>
        <div class="form-group">
          <label for="comment" class="col-sm-5 control-label">Uwagi</label>
          <div class="col-sm-7">
            <textarea class="form-control" id="comment" rows="3" ng-model="advertisement.preferencesComment"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="panel-body" ng-if="step==2">
      <legend>Krok 3: O Tobie</legend>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="experience" class="col-sm-5 control-label">Jakie masz doświadczenie taneczne?</label>
          <div class="col-sm-7">
            <textarea class="form-control" id="experience" rows="3" ng-model="advertisement.experience"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="panel-body" ng-if="step==3">
      <legend>Krok 4: Dane kontaktowe</legend>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="mobile" class="col-sm-5 control-label">Telefon</label>
          <div class="col-sm-7">
            <input type="text"
                   class="form-control"
                   id="mobile"
                   placeholder="Telefon"
                   ng-model="advertisement.mobile">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-5 control-label">Email</label>
          <div class="col-sm-7">
            <input type="email"
                   class="form-control"
                   id="email"
                   placeholder="Email"
                   ng-model="advertisement.email">
          </div>
        </div>
        </form>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12">
          <button class="pull-left btn btn-default"
                  ng-click="previous()"
                  ng-if="step>0">Wstecz</button>
          <button class="pull-right btn btn-primary"
                  ng-click="next()" ng-if="step<3">Dalej</button>
          <button class="pull-right btn btn-success"
                  ng-click="send()" ng-if="step==3">Wyślij</button>
          <p class="text-center">step {{step+1}}</p>
        </div>
      </div>

    </div>
    <div class="panel-body">
      <pre>{{advertisement|json}}</pre>
    </div>

  </div>
</div>
<!--<div class="panel panel-default col-sm-8">-->
  <!--<div class="panel-body" ng-cloak>-->

    <!--&lt;!&ndash;<div class="btn-group btn-group-justified" style="margin-bottom: 20px;">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="btn-group" role="group">&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-default" ng-class="{'btn-success': step>0,'btn-info': step===0}">&ndash;&gt;-->
          <!--&lt;!&ndash;<i class="fa fa-info"></i>&ndash;&gt;-->
          <!--&lt;!&ndash;<p>Podstawowe dane</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="btn-group" role="group">&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-default" ng-disabled="step<1"&ndash;&gt;-->
                <!--&lt;!&ndash;ng-class="{'btn-success': step>1,'btn-info': step===1}">&ndash;&gt;-->
          <!--&lt;!&ndash;<i class="fa fa-address-card-o"></i>&ndash;&gt;-->
          <!--&lt;!&ndash;<p>Doświadczenie taneczne</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="btn-group" role="group">&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-default" ng-disabled="step<2"&ndash;&gt;-->
                <!--&lt;!&ndash;ng-class="{'btn-success': step>2,'btn-info': step===2}">&ndash;&gt;-->
          <!--&lt;!&ndash;<i class="fa fa-commenting-o"></i>&ndash;&gt;-->
          <!--&lt;!&ndash;<p>Preferencje</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="btn-group" role="group">&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-default" ng-disabled="step<3" ng-class="{'btn-info': step===3}">&ndash;&gt;-->
          <!--&lt;!&ndash;<i class="fa fa-envelope-o"></i>&ndash;&gt;-->
          <!--&lt;!&ndash;<p>Dane kontaktowe</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--<div ng-if="step===0">-->
      <!--<p>-->
        <!--<button ng-click="previous()">previous</button>-->
        <!--<button ng-click="next()">next</button>-->
        <!--<span ng-bind="step"></span>-->
      <!--</p>-->
      <!--<form class="form-horizontal">-->
        <!--<div class="form-group">-->
          <!--<label for="name" class="col-sm-5 control-label">Imię</label>-->
          <!--<div class="col-sm-7">-->
            <!--<input type="text" class="form-control" id="name" placeholder="Imię">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="age" class="col-sm-5 control-label">Wiek</label>-->
          <!--<div class="col-sm-7">-->
            <!--<input type="text" class="form-control" id="age" placeholder="Wiek">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="height" class="col-sm-5 control-label">Wzrost</label>-->
          <!--<div class="col-sm-7">-->
            <!--<input type="text" class="form-control" id="height" placeholder="Wzrost">-->
          <!--</div>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
    <!--<div ng-if="step===1">-->
      <!--<form class="form-horizontal">-->
        <!--<div class="form-group">-->
          <!--<label for="email" class="col-sm-5 control-label">Email</label>-->
          <!--<div class="col-sm-7">-->
            <!--<input type="text" class="form-control" id="email" placeholder="Email">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="mobile" class="col-sm-5 control-label">Telefon</label>-->
          <!--<div class="col-sm-7">-->
            <!--<input type="text" class="form-control" id="mobile" placeholder="Telefon">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--Dane kontaktowe-->
        <!--</div>-->
      <!--</form>-->
      <!--<div>-->
        <!--<button class="pull-left btn btn-default" ng-click="previous()">Wstecz</button>-->
        <!--<button class="pull-right btn btn-primary" ng-click="next()">Dalej</button>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div ng-if="step===2">-->
      <!--<p>-->
        <!--<button ng-click="previous()">previous</button>-->
        <!--<button ng-click="next()">next</button>-->
        <!--<span ng-bind="step"></span>-->
      <!--</p>-->
    <!--</div>-->
    <!--<div ng-if="step===3">-->
      <!--<p>-->
        <!--<button ng-click="previous()">previous</button>-->
        <!--<button ng-click="next()">next</button>-->
        <!--<form class="form-horizontal">-->
          <!--<div class="form-group">-->
            <!--<label for="email" class="col-sm-5 control-label">Email</label>-->
            <!--<div class="col-sm-7">-->
              <!--<input type="text" class="form-control" id="email" placeholder="Email">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label for="mobile" class="col-sm-5 control-label">Telefon</label>-->
            <!--<div class="col-sm-7">-->
              <!--<input type="text" class="form-control" id="mobile" placeholder="Telefon">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--Dane kontaktowe-->
          <!--</div>-->
        <!--</form>-->
      <!--</p>-->

    <!--</div>-->
    <!--{{advert | json}}-->
  <!--</div>-->
<!--</div>-->

<script>
  angular.module('test', [])
    .run(function ($rootScope) {
      $rootScope.step = 0;
      $rootScope.advertisement = {lookingFor: 'man'};
      $rootScope.next = function () {
        if ($rootScope.step < 3) {
          $rootScope.step++;
        }
      };
      $rootScope.previous = function () {
        if ($rootScope.step > 0) {
          $rootScope.step--;
        }
      };
    })
</script>
</body>
</html>