<div class="course-list list-group">
  <a href class="course-list__item list-group-item"
     ng-class="{'opened': course.opened}"
     ng-repeat-start="course in ::$ctrl.courses | filter: { day : $ctrl.day.id } | orderBy: 'timeFrom'"
     ng-click="$ctrl.toggleOpen(course)">
    <span class="course-list__item--time" ng-bind="::course.timeFrom"></span>
    <div class="course-list__item--title">
      <h4>
        <span ng-bind="::course.name"></span>
        <span class="label label-striped" ng-bind="$ctrl.levels[course.level].label"></span>
        <span class="label label-primary" ng-if="::course.isRegistrationOpen">ZAPISY</span>
      </h4>
    </div>
  </a>
  <div class="list-group-item course-list__item--description"
       ng-class="{'opened': course.opened}" ng-repeat-end>
    <div class="panel panel-default">
      <course-details course="course"></course-details>
    </div>
  </div>
</div>