<div class="col-xs-12">
  <h2>Szukasz partnera do tańca? Nic prostszego!</h2>
  <p>Specjalnie dla Was uruchamiamy nową usługę kojarzącą wolnych partnerów do tańca wrocław.</p>
  <ul class="list-group">
    <li class="list-group-item">
      <i class="fa fa-pencil-square-o pull-left"></i>
      <h4 class="list-group-item-heading">Wypełniasz formularz</h4>
      <p class="list-group-item-text">Opisz dotychczasowe doświadczenia z tańcem oraz
        sprecyzuj swoje oczekiwania</p>
    </li>
    <li class="list-group-item">
      <i class="fa fa-address-book-o pull-left"></i>
      <h4 class="list-group-item-heading">Zostawiasz namiary do siebie</h4>
      <p class="list-group-item-text">Dodamy Cię do naszej bazy osób poszukujących
        partnera do tańca</p>
    </li>
    <li class="list-group-item">
      <i class="fa fa-volume-control-phone pull-left"></i>
      <h4 class="list-group-item-heading">Czekasz na telefon</h4>
      <p class="list-group-item-text">Skontaktujemy się jak tylko zgłosi się do nas
        odpowiedni kandydat</p>
    </li>
  </ul>

  <div class="panel panel-default" style="overflow: hidden">
    <div class="panel-body">
      <div ng-if="$ctrl.step==-1" class="text-center">
        <a href class="btn btn-lg btn-primary" ng-click="$ctrl.begin()">Rozpocznij!</a>
      </div>
      <div ng-if="$ctrl.step==0">
        <div class="animated fadeIn">
          <legend>
            Krok 1: Podstawowe dane
            <small class="pull-right text-muted">1/4</small>
          </legend>
          <form class="form-horizontal" name="form" ng-submit="$ctrl.next()">
            <div class="form-group">
              <label for="firstName" class="col-sm-5 control-label">
                Imię
                <span class="text-danger">*</span>
              </label>
              <div class="col-sm-7">
                <input type="text"
                       class="form-control"
                       id="firstName"
                       placeholder="Imię"
                       ng-model="$ctrl.advertisement.advertiser.firstName"
                       autofocus required>
              </div>
            </div>
            <div class="form-group">
              <label for="firstName" class="col-sm-5 control-label">
                Nazwisko
                <span class="text-danger">*</span>
              </label>
              <div class="col-sm-7">
                <input type="text"
                       class="form-control"
                       id="lastName"
                       placeholder="Nazwisko"
                       ng-model="$ctrl.advertisement.advertiser.lastName"
                       autofocus required>
              </div>
            </div>
            <div class="form-group">
              <label for="age" class="col-sm-5 control-label">Wiek</label>
              <div class="col-sm-7">
                <input type="text"
                       class="form-control"
                       id="age"
                       placeholder="Wiek"
                       ng-model="$ctrl.advertisement.advertiser.age">
              </div>
            </div>
            <div class="form-group">
              <label for="height" class="col-sm-5 control-label">Wzrost (cm)</label>
              <div class="col-sm-7">
                <input type="text"
                       class="form-control"
                       id="height"
                       placeholder="Wzrost (cm)"
                       ng-model="$ctrl.advertisement.advertiser.height">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input type="submit"
                       class="pull-right btn btn-primary"
                       ng-disabled="form.$invalid" value="Dalej">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div ng-if="$ctrl.step==1">
        <div class="animated fadeIn">
          <legend>
            Krok 2: Preferencje
            <small class="pull-right text-muted">2/4</small>
          </legend>
          <form class="form-horizontal" name="form" ng-submit="$ctrl.next()">
            <div class="form-group">
              <label for="lookingFor" class="col-sm-5 control-label">Szukam</label>
              <div class="col-sm-7">
                <select class="form-control"
                        ng-model="$ctrl.advertisement.preferences.gender"
                        id="lookingFor">
                  <option value="man">partnera</option>
                  <option value="woman">partnerki</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="style" class="col-sm-5 control-label">
                Styl tańca
                <span class="text-danger">*</span>
              </label>
              <div class="col-sm-7">
                <input type="text"
                       class="form-control"
                       id="style"
                       placeholder="Styl tańca"
                       ng-model="$ctrl.advertisement.preferences.style"
                       required>
              </div>
            </div>
            <div class="form-group">
              <label for="comment" class="col-sm-5 control-label">Uwagi</label>
              <div class="col-sm-7">
                                              <textarea class="form-control" id="comment" rows="3"
                                                        ng-model="$ctrl.advertisement.preferences.comment"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <a href
                   class="pull-left btn btn-default"
                   ng-click="$ctrl.previous()">Wstecz
                </a>
                <input type="submit"
                       class="pull-right btn btn-primary"
                       ng-disabled="form.$invalid" value="Dalej">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div ng-if="$ctrl.step==2">
        <div class="animated fadeIn">
          <legend>
            Krok 3: O Tobie
            <small class="pull-right text-muted">3/4</small>
          </legend>
          <form class="form-horizontal" name="form" ng-submit="$ctrl.next()">
            <div class="form-group">
              <label for="experience" class="col-sm-5 control-label">Jakie masz
                doświadczenie
                taneczne?</label>
              <div class="col-sm-7">
                                              <textarea class="form-control" id="experience" rows="3"
                                                        ng-model="$ctrl.advertisement.advertiser.experience"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <a href
                   class="pull-left btn btn-default"
                   ng-click="$ctrl.previous()">Wstecz
                </a>
                <input type="submit"
                       class="pull-right btn btn-primary"
                       ng-disabled="form.$invalid" value="Dalej">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div ng-if="$ctrl.step==3">
        <div class="animated fadeIn">
          <legend>
            Krok 4: Dane kontaktowe
            <small class="pull-right text-muted">4/4</small>
          </legend>
          <form class="form-horizontal" name="form" ng-submit="$ctrl.send()">
            <div class="form-group">
              <label for="mobile" class="col-sm-5 control-label">
                Telefon
                <span class="text-danger">*</span>
              </label>
              <div class="col-sm-7">
                <input type="text"
                       class="form-control"
                       id="mobile"
                       placeholder="Telefon"
                       ng-model="$ctrl.advertisement.contact.mobile" required>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-5 control-label">
                Email
                <span class="text-danger">*</span>
              </label>
              <div class="col-sm-7">
                <input type="email"
                       class="form-control"
                       id="email"
                       placeholder="Email"
                       ng-model="$ctrl.advertisement.contact.email" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                           ng-model="$ctrl.advertisement.agreement.store">
                    <span class="text-danger">*</span>
                    Wyrażam zgodę na przetwarzanie moich danych osobowych przez Szkołę tańca Setenta
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <a href
                   class="pull-left btn btn-default"
                   ng-click="$ctrl.previous()">Wstecz
                </a>
                <input type="submit"
                       class="pull-right btn btn-primary"
                       ng-disabled="form.$invalid" value="Wyślij">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div ng-if="$ctrl.step==4">
        <div class="animated fadeIn">
          <div class="showbox alert" ng-class="{'alert-success1': $ctrl.done}">
            <div class="loader" ng-class="{'done': $ctrl.done}">
              <svg viewBox="25 25 50 50">
                <circle class="loader_background" cx="50" cy="50" r="20" stroke-width="3"/>
                <circle class="loader_rotation" cx="50" cy="50" r="20" fill="none" stroke-width="4"/>
                <path class="loader_path" d="m48,58l11,-16" stroke-dasharray="23" stroke-dashoffset="23"/>
                <path class="loader_path" d="m48,58l-8,-6" stroke-dasharray="10" stroke-dashoffset="10"/>
              </svg>
            </div>
          </div>
        </div>
        <h4 class="text-center" ng-if="!$ctrl.done">Wysyłanie...</h4>
        <h4 class="text-center" ng-if="$ctrl.done">Dziękujemy! Ogłoszenie zostało dodane.</h4>
      </div>
    </div>
  </div>
  <h5>Nikomu nie udostępniamy Twoich danych</h5>
</div>